@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
